@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/contacto-nosotros.css" rel="stylesheet" />
</head>

<section class="w3l-about1">
    <div class="new-block">
        <div class="container py-lg-5">
            <img style="background:no-repeat fixed center; height:100%; width:100%;"
                 src="~/Home/images/cover.PNG" />
        </div>
    </div>
</section>
<section class="w3l-stats">
    <div class="main-w3 py-5" style="background: #1a75bb;">
        <div class="container" style="background: #1a75bb;">
            <div class="row align-items-center">
                <div class="col-md-6 title">
                    <h3 style="color: white;font-size: 50px;">LOS SERVICIOS QUE <br /><br /> NECESITAS</h3>
                    <p class="mt-4" style="color: white;">
                        Afilite con nosotros HOY. <br> Iremos por mucho más junto a ti y nuestro equipo.
                    </p>
                </div>
                <div class="col-md-6 main-cont-wthree-fea text-center">
                    <div class="row">
                        <div class="col-6 pr-2 mt-4">
                            <a text-dark asp-area="" asp-controller="Home" asp-action="Ahorros">
                                <div class="grids-speci1">
                                    <span style="color: #1a75bb; font-size: 45px; margin-bottom: 15px; border-radius: 50%; width: 55px; height: 55px; line-height: 55px;">
                                        <i class="fas fa-piggy-bank"></i>
                                    </span>
                                    <h3 style="color: Black" class="title-spe">Ahorros</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 pl-2 mt-4">
                            <a text-dark asp-area="" asp-controller="Home" asp-action="Prestamos">
                                <div class="grids-speci1">
                                    <span style="color: #1a75bb; font-size: 45px; margin-bottom: 15px; border-radius: 50%; width: 55px; height: 55px; line-height: 55px;">
                                        <i class="fas fa-hand-holding-usd"></i>
                                    </span>
                                    <h3 style="color: black" class="title-spe">Préstamos</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 pr-2 mt-4">
                            <a text-dark asp-area="" asp-controller="Home" asp-action="Pagos">
                                <div class="grids-speci1">
                                    <span style="color: #1a75bb; font-size: 45px; margin-bottom: 15px; background: #6c55aa14; border-radius: 50%; width: 55px; height: 55px; line-height: 55px;">
                                        <i class="fas fa-cash-register"></i>
                                    </span>
                                    <h3 style="color: black" class="title-spe">Pagos</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 pl-2 mt-4">
                            <a text-dark asp-area="" asp-controller="Home" asp-action="Servicios">
                                <div class="grids-speci1">
                                    <span style="color: #1a75bb;font-size: 45px;margin-bottom: 15px;background: #6c55aa14;border-radius: 50%;width: 55px;height: 55px;line-height: 55px;">
                                        <i class="fas fa-bars"></i>
                                    </span>
                                    <h3 style="color: black" class="title-spe">Más info</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="footer-29 py-4">

</div>
