@{
    ViewData["Title"] = "Sobre nosotros";
}

<head>
    <link rel="stylesheet" href="~/css/contacto-nosotros.css">
</head>

<div class="paddingLR">
    <img class="cover2" src="~/Account/images/cover2.PNG" />
    <div>
        <p class="index mt-3"><a asp-controller="Home" asp-action="Index">Inicio </a>/ @ViewData["Title"] </p>
    </div>
</div>

<section class="w3l-about1">
    <div class="new-block">
        <div class="container py-lg-5">
            <div class="middle-section">
                <!-- <h5>Tagline</h5> -->
                <div class="">
                    <h2 style="color: #1a75bb;">CoopITLA, una cooperativa comprometida con el bienestar de sus afiliados.</h2>
                </div>
                <div class="link-list-menu">
                    <p>Ofreciendo las comodidades y facilidades que nuestros afiliados necesitan</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-stats">
    <div class="main-w3 py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 title">
                    <h3>¡Orgullosamente podemos decir que hemos logrado esto!</h3>
                    <p class="mt-4">
                        Y esto es solo el inicio… ¡Iremos por mucho más junto a nuestro equipo y nuestros afiliados!
                    </p>
                </div>
                <div class="col-md-6 main-cont-wthree-fea text-center">
                    <div class="row">
                        <div class="col-6 pr-2 mt-4">
                            <div class="grids-speci1">
                                <span style="color: #1a75bb; font-size: 22px; margin-bottom: 15px; background: #6c55aa14; border-radius: 50%; width: 55px; height: 55px; line-height: 55px;">
                                    <i class="fas fa-users"></i>
                                </span>
                                <h3 class="title-spe">15</h3>
                                <p>Personas a tu servicio</p>
                            </div>
                        </div>
                        <div class="col-6 pl-2 mt-4">
                            <div class="grids-speci1">
                                <span style="color: #1a75bb; font-size: 22px; margin-bottom: 15px; background: #6c55aa14; border-radius: 50%; width: 55px; height: 55px; line-height: 55px;">
                                    <i class="fas fa-users"></i>
                                </span>
                                <h3 class="title-spe">72</h3>
                                <p>Afiliados satisfechos</p>
                            </div>
                        </div>
                        <div class="col-6 pr-2 mt-4">
                            <div class="grids-speci1">
                                <span style="color: #1a75bb; font-size: 22px; margin-bottom: 15px; background: #6c55aa14; border-radius: 50%; width: 55px; height: 55px; line-height: 55px;">
                                    <i class="fas fa-users"></i>
                                </span>
                                <h3 class="title-spe">215</h3>
                                <p>Solicitudes aprobadas</p>
                            </div>
                        </div>
                        <div class="col-6 pl-2 mt-4">
                            <div class="grids-speci1">
                                <span style="color: #1a75bb; font-size: 22px; margin-bottom: 15px; background: #6c55aa14; border-radius: 50%; width: 55px; height: 55px; line-height: 55px;">
                                    <i class="fas fa-users"></i>
                                </span>
                                <h3 class="title-spe">879</h3>
                                <p>Dudas resueltas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-section-title">
    <div class="new-block">
        <div class="container pt-lg-5">
            <div class="row">
                <div class="col-md-4 title">
                    <h3 style="color: #1a75bb;">Nuestra visión</h3>
                </div>
                <div class="col-md-8 title-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eligendi incidunt, reprehenderit
                        minima exercitationem accusantium reiciendis, cupiditate optio corrupti quis quam at!.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-about3">
    <div class="story-inner-6 text-left">
        <div class="container pt-lg-3">
            <div class="row align-items-center">
                <div class="col-md-6 story-gd">
                    <h3 style="color: #1a75bb;" class="global-title title">¿Quiénes somos?</h3>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure beatae distinctio
                        nobis impedit, eius praesentium dicta cum consectetur culpa modi vero at dolore corporis nemo architecto
                        expedita omnis reprehenderit.
                    </p>
                    <div class="story-info-content">
                        <div class="story-info">
                            <h5>
                                <i class="fas fa-check"></i><a>
                                    Ponga una característica
                                </a>
                            </h5>
                        </div>
                        <div class="story-info">
                            <h5>
                                <i class="fas fa-check"></i><a>
                                    Ponga una característica
                                </a>
                            </h5>
                        </div>
                        <div class="story-info">
                            <h5>
                                <i class="fas fa-check"></i><a>
                                    Ponga una característica
                                </a>
                            </h5>
                        </div>
                        <div class="story-info">
                            <h5>
                                <i class="fas fa-check"></i><a>
                                    Ponga una característica
                                </a>
                            </h5>
                        </div>
                        <div class="story-info">
                            <h5>
                                <i class="fas fa-check"></i><a>
                                    Ponga una característica
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-1 offset-0 mt-md-0 mt-5">
                    <div class="story-gd proff">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-about4">
    <div class="story-inner-6 text-left">
        <div class="container pt-lg-3">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="story-gd proff">
                    </div>
                </div>
                <div class="col-md-6 offset-md-1 offset-0 story-gd mt-md-0 mt-5">
                    <h3 style="color: #1a75bb;" class="global-title title">¿Qué hacemos?</h3>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nihil exercitationem eum
                        officia similique recusandae magni ex asperiores veritatis praesentium distinctio nostrum aliquid, dolor,
                        laudantium quibusdam animi consequuntur ducimus quae.
                    </p>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime corrupti voluptates facere
                        modi odit aspernatur ipsam laboriosam eum deserunt ea suscipit error harum, inventore soluta debitis rem,
                        doloribus hic? Consequuntur?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-about5">
    <div class="story-inner-6 text-left">
        <div class="container pt-lg-3">
            <div class="row align-items-center">
                <div class="col-md-6 story-gd">
                    <h3 style="color: #1a75bb;" class="global-title title">
                        ¿Cómo lo hacemos?
                    </h3>
                    <p class="mb-4">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis nesciunt dolore, quidem
                        at nemo ab dolor doloremque ut, maiores fuga eos explicabo, nostrum sit numquam praesentium modi
                        perspiciatis quaerat cumque!
                    </p>

                    <div class="story-info-content">
                        <div class="story-info">
                            <h5>
                                <i class="fas fa-check"></i><a>
                                    Ponga una característica
                                </a>
                            </h5>
                        </div>
                        <div class="story-info">
                            <h5>
                                <i class="fas fa-check"></i><a>
                                    Ponga una característica
                                </a>
                            </h5>
                        </div>
                        <div class="story-info">
                            <h5>
                                <i class="fas fa-check"></i><a>
                                    Ponga una característica
                                </a>
                            </h5>
                        </div>
                        <div class="story-info">
                            <h5>
                                <i class="fas fa-check"></i><a>
                                    Ponga una característica
                                </a>
                            </h5>
                        </div>
                        <div class="story-info">
                            <h5>
                                <i class="fas fa-check"></i><a>
                                    Ponga una característica
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-1 offset-0 mt-md-0 mt-5">
                    <div class="story-gd proff"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-index4">
    <div class="section-four gotocontact py-5">
        <div class="container py-xl-5 py-lg-3">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-6">
                    <div class="heading white">
                        <h3>¡Siempre a tu lado para ayudarte a alcanzar tus metas!</h3>
                        <p class="mt-4">Cooperativa del instituto tecnológico de Las Américas</p>
                    </div>
                </div>
                <div class="offset-xl-1 offset-0 col-xl-3 col-lg-6 text-lg-right mt-5 mt-lg-0">
                    <a class="btn btn-light btn-outline-style py-3" asp-controller="Home" asp-action="Contactanos" title="Contact Us!">
                        <i class="fas fa-paper-plane"></i> Contáctanos
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer -->

<div class="w3l-footer redes">
    <div class="footer-29">
        <div class="container">
            <div class="row footer-top-29">
                <div class="col-md-6 footer-list-29 footer-1 mt-md-4">
                    <h6 class="footer-title-29">Síguenos en nuestras redes </h6>
                    <div class="main-social-footer-29">
                        <a href="#facebook" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#twitter" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#instagram" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="#google-plus" class="google-plus"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#linkedin" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.4.1.slim.min.js"></script>
<script src="~/js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 0,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                667: {
                    items: 2,
                    nav: true,
                    margin: 20
                },
                1000: {
                    items: 4,
                    nav: true,
                    loop: true,
                    margin: 25
                }
            }
        })
    })
</script>