
@{
    ViewData["Title"] = "Inactivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="containerBody" style="text-align: center;">
        <h1 class="mt-4">Lo sentimos, su cuenta ha sido desahbilitada.</h1><br />
        <h4>Favor de contactarnos para más información.</h4>

    </div>

