
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        <link href="~/css/Login.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    </head>

<!-- content -->
    <div class="container-agille">
        <div class="formBox level-login">
            <div class="box loginBox text-center">
                <h3 style="color:#1a75bb;">Cliente</h3>
                <div class="mb-3">
                    
                    <small style="color: red; font-weight:bold;">@ViewBag.Message</small>
                </div>
                <form class="form" action="Verify" method="post">
                    <div class="f_row-2">
                        <input type="text" class="input-field" placeholder="Usuario" name="UsuarioCliente"  required>
                    </div>
                    <div class="f_row-2 last">
                        <input type="password" class="input-field" placeholder="Contraseña" name="ContrasenaCliente" required>
                    </div>
                    <input class="submit-w3" style="background-color:#1a75bb;" type="submit" value="Login">
                </form>
            </div>
            <div class="box registerBox wthree">
                <span class="reg_bg"></span>
                <h3 style="color:#1a75bb;">Empleado</h3>
                <form class="form" action="Verify" method="post">
                    <div class="f_row-2">
                        <input type="text" class="input-field" placeholder="Usuario" name="UsuarioEmpleado" required>
                    </div>
                    <div class="f_row-2 last">
                        <input type="password" class="input-field" placeholder="Contraseña" name="ContrasenaEmpleado" required>
                    </div>
                    <input class="submit-w3" type="submit" style="background-color:#1a75bb;" value="Login">
                </form>
            </div>
            <a href="#" class="regTag icon-add">
                <i class="fas fa-exchange-alt"></i>
            </a>
        </div>
    </div>
<!-- //content -->

<script src="~/js/jquery-2.2.3.min.js"></script>
<script src="~/js/input-field.js"></script>