
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <link href="~/css/Login.css" rel="stylesheet"/>
</header>

<div class="main-agile">
    <div class="content-wthree">
        <h2>Login</h2>
        <form action="#" method="post">
            <div class="inputs-w3ls">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" name="usuario" placeholder="Usuario" required="" />
            </div>
            <div class="inputs-w3ls">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" name="contrasena" placeholder="Contraseña" required="" />
            </div>
            <input type="submit" value="LOGIN">
            <div class="wthree-text">
                <ul>
                    <li> <a href="#">Forgot password?</a> </li>
                </ul>
            </div>
        </form>
    </div>
</div>

