
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/dashboard.css" rel="stylesheet" />
</head>

<div class="wrapper">
    <partial name="_MenuLateral" />
    <!-- Page Content Holder -->
    <div id="content">
        <!-- Forms content -->
        <section class="forms-section">
            <h1>Aqui va la vista de inicio del dashboard</h1>
        </section>
    </div>
</div>
