@{
    ViewData["Title"] = "Lista de solicitudes de préstamos";
}

    <head>
        <link href="~/css/dashboard.css" rel="stylesheet" />
    </head>
<div id="content">
    <section class="tables-section">
        <!-- lista de solicitudes de prestamos -->
        <div class="outer-w3-agile mt-3">
            <h4 class="tittle-w3-agileits mb-4">Lista de solicitudes de préstamo</h4>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 10px;">ID</th>
                        <th scope="col" style="width: 220px;">Solicitante</th>
                        <th scope="col" style="width: 115px;">Cedula</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Tipo</th>
                        <th scope="col" style="width: 30px;">Fecha S</th>
                        <th scope="col">Detalle préstamo</th>
                        <th scope="col" style="width: 150px;">Acción</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Nelson Alexander Diaz De La Cruz</td>
                        <td>000-0000000-0</td>
                        <td>50000</td>
                        <td>Hipotecario</td>
                        <td>22/03/2020</td>
                        <td style="text-align: justify;">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Eius error et possimus sunt
                            aperiam aut voluptas accusamus eveniet quod fuga corrupti odio mollitia aliquid,
                            quibusdam, maiores quas neque doloremque iusto!
                        </td>
                        <td>
                            <select id="tipoPrestamo" class="form-control">
                                <option selected="">Elegir...</option>
                                <option>...</option>
                            </select>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">OK</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--// lista de solicitudes de prestamos -->
    </section>
</div>
