@model SistemaBancario.Models.CalculadoraAmortizacion
@{
    ViewData["Title"] = "Solicitar Prestamo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <partial name="_MenuLateral" />
    <!-- Page Content Holder -->
    <div id="content">
        <!-- Forms content -->
        <section class="forms-section">
            <!-- Solicitud de prestamos -->
            <div class="outer-w3-agile mt-3">
                <h4 class="tittle-w3-agileits mb-4">Solicitud de préstamo</h4>
                <div class="row validform">
                    @* FORMULARIO DE AMORTIZACION *@
                    <div class="col-md-4 order-md-2 mb-4 validform1">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Calcular amortización</span>
                        </h4>
                        <form asp-action="SolicitarPrestamo">
                            <ul class="list-group mb-3">
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">Monto del préstamo</h6>
                                        <input type="number" class="form-control" placeholder="Monto" value="" asp-for="monto" required="">
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">Tipo de préstamo</h6>
                                        <select id="tipoPrestamo" class="form-control">
                                            <option>Elegir...</option>
                                        </select>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">Plazo en meses</h6>
                                        <input type="number" class="form-control" placeholder="Plazos" value="" asp-for="plazos" required="">
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">Interés</h6>
                                        <input type="number" class="form-control" placeholder="Interés" value="" required="" asp-for="interes">
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <strong>Cuota mensual</strong>
                                    <strong>$@ViewData["total"]</strong>
                                </li>
                                <li>
                                    <div class="input-group card p-2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="submit" class="btn btn-primary" asp-for="calcular" value="Calcular" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="submit" class="btn btn-danger" value="Borrar" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                    @* FORMULARIO DE AMORTIZACION *@

                    @* FORMULARIO DE SOLICITUD *@
                    <div class="col-md-8 order-md-1 validform2">
                        <h4 class="mb-3">Formulario de solicitud</h4>
                        <form action="#" method="post" class="needs-validation" novalidate="">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="cedulaCliente">Cedula del cliente</label>
                                    <input type="text" class="form-control" id="cedulaCliente" placeholder="Cedula" value="" required="">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="tipoPrestamo">Tipo de préstamo</label>
                                    <select id="tipoPrestamo" class="form-control">
                                        <option selected="">Elegir…</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="montoSolicitado">Monto solicitado</label>
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$RD</div>
                                        </div>
                                        <input type="text" class="form-control" id="montoSolicitado" placeholder="Monto" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="detallesSolicitud">Detalles de la solicitud</label>
                                <textarea style="resize: none;" class="form-control" id="detallesSolicitud" rows="6" required="" maxlength="200"></textarea>
                            </div>
                            <hr class="mb-4">
                            <button type="submit" class="btn btn-primary">Enviar solicitud</button>
                        </form>
                    </div>
                    @* FORMULARIO DE SOLICITUD *@
                </div>
            </div>
            <!--// Solicitud de prestamo -->
        </section>
    </div>
</div>
