@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
    <link href="~/css/dashboard.css" rel="stylesheet" />
</head>
<!-- Sidebar Holder -->
<nav id="sidebar" style="background-color:#1a75bb;">
    <div class="sidebar-header" style="background-color:#1a75bb;">
        <h1>
            <a asp-area="" asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a>
        </h1>
        <span>D</span>
    </div>
    <div class="profile-bg"></div>
    <ul class="list-unstyled components">
        @if (@httpContextAccessor.HttpContext.Session.GetString("Roll") == "Admin")
        {
            <li>
                <a asp-controller="Usuarios" asp-action="InformacionEmpleado" asp-route-id=" @httpContextAccessor.HttpContext.Session.GetString("ID")">
                    <i class="fas fa-info"></i>
                    Mi información
                </a>
            </li>

        }
        else
        {
            <li>
                <a asp-controller="Usuarios" asp-action="InformacionCliente" asp-route-id=" @httpContextAccessor.HttpContext.Session.GetString("ID")">
                    <i class="fas fa-info"></i>
                    Mi información
                </a>
            </li>

        }

        <li>
            <a href="#prestamos" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-hand-holding-usd"></i>
                Préstamos
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="prestamos">
                <li>
                    <a asp-area="" asp-controller="Prestamos" asp-action="SolicitarPrestamo">Solicitud de préstamo</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Prestamos" asp-action="ListaSolicitudesPrestamos">Lista de solicitudes</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Prestamos" asp-action="ListaPrestamosAprobados">Préstamo aprobados</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Prestamos" asp-action="ListaPrestamosRechazados">Préstamo rechazados</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pagos" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-cash-register"></i>
                Pagos
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="pagos">
                <li>
                    <a asp-area="" asp-controller="Pagos" asp-action="ListaPagosPagados">Lista de Pagos Al Dia</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Pagos" asp-action="ListaPagosSin">Lista de Pagos Sin Pagar</a>
                </li>
                
                 
            </ul>
        </li>
        @if (@httpContextAccessor.HttpContext.Session.GetString("Roll") == "Admin")
        {
            <li>
                <a href="#empleados" data-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-user-tie"></i>
                    Empleados
                    <i class="fas fa-angle-down fa-pull-right"></i>
                </a>
                <ul class="collapse list-unstyled" id="empleados">
                    <li>
                        <a asp-area="" asp-controller="Usuarios" asp-action="ListadoEmpleados">Listado empleados</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Usuarios" asp-action="CrearEmpleado">Crear empleado</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#clientes" data-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    Clientes
                    <i class="fas fa-angle-down fa-pull-right"></i>
                </a>
                <ul class="collapse list-unstyled" id="clientes">
                    <li>
                        <a asp-area="" asp-controller="Usuarios" asp-action="ListadoClientes">Listado clientes</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Usuarios" asp-action="CrearCliente">Crear cliente</a>
                    </li>
                </ul>
            </li>
        }
        else
        {

        }

        <li>
            <a href="#ahorros" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-piggy-bank"></i>
                Ahorros
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="ahorros">
                <li>
                    <a href="#">Solicitud de préstamo</a>
                </li>
                <li>
                    <a href="#">Lista de solicitudes</a>
                </li>
                <li>
                    <a href="#">Préstamos</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<script src="~/js/jquery-2.2.3.min.js"></script>