@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
    <link href="~/css/dashboard.css" rel="stylesheet"/>
</head>
<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h1>
            <a href="index.php">Dashboard</a>
        </h1>
    </div>
    <div class="profile-bg"></div>
    <ul class="list-unstyled components">
        <li>
            <a href="#prestamos" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-hand-holding-usd"></i>
                Préstamos
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="prestamos">
                <li>
                    <a asp-area="" asp-controller="Prestamos" asp-action="SolicitarPrestamo">Solicitud de préstamo</a>
                </li>
                <li>
                    <a href="#">Lista de solicitudes</a>
                </li>
                <li>
                    <a href="#">Préstamos</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pagos" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-cash-register"></i>
                Pagos
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="pagos">
                <li>
                    <a href="#">Solicitud de préstamo</a>
                </li>
                <li>
                    <a href="#">Lista de solicitudes</a>
                </li>
                <li>
                    <a href="#">Préstamos</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#empleados" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-user-tie"></i>
                Empleados
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="empleados">
                <li>
                    <a asp-area="" asp-controller="Usuarios" asp-action="CrearEmpleado">Crear empleado</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#clientes" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-user"></i>
                Clientes
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="clientes">
                <li>
                    <a asp-area="" asp-controller="Usuarios" asp-action="CrearCliente">Crear cliente</a>
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#ahorros" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-piggy-bank"></i>
                Ahorros
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="ahorros">
                <li>
                    <a href="#">Solicitud de préstamo</a>
                </li>
                <li>
                    <a href="#">Lista de solicitudes</a>
                </li>
                <li>
                    <a href="#">Préstamos</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>